/* Styles associated with the header section*/
/* AKA the big ORANGE section */

.orange-bg{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 540px;
  width: 100%;
  background-color: orange;
  background-image: url("../images/ps-neutral.png"); 
  /* border: 2px dashed green; */
}

/* .orange-bg div{
  outline: 2px black dashed;
} */

.orange-bg img{
  padding-top: 140px;
}

.orange-bg h2{
  color: white;
  padding: 0;
  margin: 0;
}