/* Styles associated with the main section*/

.wrapper { /* leaves 10% margin on either sides of element and centers it*/
  width: 90%;
  margin: 0 auto;
  background-color: inherit;
}

@media only screen and (min-width: 1024px) {   /* Desktop sizing styles */ 
  .wrapper {
    width: 95%;
    padding-left: 50vw;
    background-color: inherit;
  }  
}