/* Styles associated with the Nav-bar at the top */

nav {
  color: white;
  height: 120px;
  width: 100%;
  position: fixed;  
  transition: background-color 0.3s ease;
}
.nav-container{
  display: flex;
  justify-content: space-between;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 1.5em;
}
.nav-hidden {
  display: none;
  transition: background-color 0.5s ease;
}
.nav-title { 
  font-family: "Bungee", "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 2em;
}
.nav-new-tweet{
  display:flex;
  flex-direction: column;
  font-size: 1em;
}
nav i{
  padding-top: 0.35em;  
  align-self: center;
  color: red;
  animation: bounce 2s linear infinite;
}
@keyframes bounce{
  15%, 50%, 80%,to{
    transform: translateY(0);
  }
  30%{
    transform: translateY(-15px);
  }
  70%{
    transform: translateY(-7px);
  }
  90%{
    transform: translateY(-3px);
  }
 }
 @media only screen and (min-width: 1024px) {   /* Desktop sizing styles */
  nav {
    color: white;
    height: 120px;
    background: #4056A1;
    width: 100%;
    position: fixed;  
    transition: background-color 0.5s ease;
  }
}