/* Styles associated with the Nav-bar at the top */

nav {
  color: white;
  height: 120px;
  background-color: #4056A1;
}

.nav-container{
  display: flex;
  justify-content: space-between;  
  padding-left: 1.5em;    
  padding-right: 1.5em;
  padding-top: 1em;
  /* border: dashed;
  border-width: 4px; */
  /* width: 90%;
  margin: 0 auto; */
}

.nav-title { 
  font-family: "Bungee", "Source Sans 3", sans-serif;     
  font-weight: 400;  
  font-size: 2em;
}

.navbox{
  display:flex;
  flex-direction: column;  
  font-size: 1em;
    /* outline: 3px solid cyan;   */
}

nav i{
  padding-top: 0.25em;  
  align-self: center;
  /* border: dashed;
  color: red; */
}