/* Styles associated with the new tweet section in the main area*/

.new-tweet{
  color: #4d4d4d;
  width: 80%;
  margin: 0 auto;

  /* border: 3px solid orange; */
}

textarea{
  padding-top: 20px;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  font-size: 2rem;
  font-family: "Source Sans 3", sans-serif; 
  font-weight: 400;
  color: #4056A1;
  border: none;        /* disables the default border style*/
  resize: none;        /* disables the little corner expansion option */
  outline: none;       /* disables the outline box when writing */
}

input, textarea{    
  padding-left: 1em;
  padding-right: 1em;
}

.divider{
  width: 100%;
  height: .3em;
  margin: 0.8em auto;
  background: #4d4d4d;
}

.below-line{
  display: flex;
  justify-content: space-between;
  font-family: "Bungee", "Source Sans 3", sans-serif;    
}

button{
  background: #4056A1;
  color: white;
  font-size: 1.2em;
  padding: 0.5em 1em ;
  border: none;
  border-radius: 0.5em;
}

button:hover{
  background: #5ec9ff;
  color: #ffffff;    
  transition: all 0.2s ease-in;
}

.counter{ 
  color: #4056A1;  
  font-weight: 400;  
  font-size: 1.2em;
}