/* Styles associated with each individual tweet entry*/

.tweet-container .tweet{
  border: 5px solid grey;
  padding: 1em;
  margin: 2em auto; 
  background-color: #e7e7e7;
}
.tweet-container .tweet:hover{
  box-shadow: 6px 6px 1px #95c2ec;
}
.tweet-container header{
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.tweet-container header .profile-container{
  width: 50%;
  display:flex;
}
.tweet-container header img{
  width: 4em;
  height: 4em;
}
.tweet-container .handle{
  color: #85afd6;
}
.tweet-container .person-title{
  margin-left: 5%; 
}
.tweet-container footer{
  display: flex;
  justify-content: space-between;
}
.tweet-container footer h6{
  margin: 0;
}
.tweet-container i{
  margin: 0 10px;
}
.tweet-container i:hover{
  color: #ffb700;
  text-shadow: 3px 3px  #636363;
  transition: all 0.2s ease-in;
}
.input-notification{
  display: unset;
}
.input-notification h6{   /* Hacky solution to rendering spaces in the notification typewriter */
  color: #e61339;       /* Matches color of underscores to parent bg-color */
}
 .rendered-msg{   
  word-wrap: break-word;
  overflow: hidden;
} 